/**
 * Wise Chat core CSS.
 *
 * @version 1.0
 * @author Marcin Ławrowski <marcin.lawrowski@gmail.com>
 * @link http://kaine.pl/projects/wp-plugins/wise-chat
 */

.wcMessages {
	width: 100%; height: 200px; overflow: auto; border: 1px solid #dfdfdf; padding: 5px; background-color: #fff; margin: 5px 0px;
}

.wcContainer input {
	width: 100%;
}

.wcErrorMessage {
	color: #ff0000;
}